body{
    margin-top: 3% ;
    
    margin-left: 6%;
    background-color: #ffffff;
}
.navbar-container {
    display: flex;
    align-items: center;
   
}
.nav-logo > img{
    width: 100px;
  
    
}
li{
    list-style: none;
}
.list {
    display: flex;
    justify-content: space-between;
    width: 400px;
    color: gray;
}
.list > li:nth-child(1){
    color: black;
}
.button-group {
   
    margin-left: 500px;
}
.button-group > button {
    width: 120px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #5955b3;
    color: white;
    font-size: 14px;
}
*{
    
    font-family: Poppins;
}
.grow-list {
    
}



.banner-container {
    display: flex;

}
.heading-text {
    padding-top: 40px;
    font-size: 60px;
    font-weight: 600;
    line-height: 65px;
    
}
.heading-text > span {
    color: #5955b3;
}
.description {
    width: 400px;
    color: gray;
}
.btn {
    width: 200px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #5955b3;
    color: white;
    font-size: 16px;
    margin-top: 40px;
}